body{
    background-image: url(../img/Pizza1.jpg);
    
}
#title{
    font-size: 35px;
    text-align: center;
    font-weight: bolder;
    color: beige;
    font-family: fantasy;
}
#small{
    color:cornsilk;
    text-align: center;
    font-size: 17px;
    background-color: gray;
}
#size{
    color: red;
    border: 2px solid rgb(255, 255, 255);
    padding: 6px;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    border-radius: 15px;
    margin-right: 20px;
    width:fit-content
    height: fit-content;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 4px
   


}
#crust{
    color: red;
    border: 2px solid rgb(255, 255, 255);
    padding: 6px;
    font-size: 20px;
    background-color:white;
    border-radius: 15px;
    width: 200px;
    height: fit-content;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 4px;
    
    
}
#topping{
    color:red;
    border: 2px solid rgb(255, 255, 255);
    padding: 6px;
    font-size: 20px;
    width: 800px;
    border-radius: 15px;
    
}
#container1{
    display: flex;
    column-count: 2;
}
#container2{
    display: flex;
    column-count: 2;
    font-size: 20px;
    margin-bottom: 20px;
}
#container3{
    display: flex;
    column-count: 2;
    font-size: 20px;
}
#pepproni{
    margin-right: 200px;
    margin-bottom: 15px;
    color: red;
    font-weight: bold;
}
#chicken{
    margin-right: 200px;  
    color: red;
font-weight: bold;
}
p.size-crust{
    background-color: white;
    font-size: 20px;
}
p.topping{
    color: black;
    background-color: white;
    width: fit-content;
}
#ham{
    color: red;
font-weight: bold;
}
#beef{
    color: red;
font-weight: bold;
}
#orders{
    background-color: rgb(255, 255, 255);
}